<app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Shim</th>
                <th>Date Created</th>
            </tr>
            <tr *ngFor="let item of userData; let i = index">
                <td>{{i}}</td>
                <td><a [routerLink]="['/users',item.username]">{{item.username}}</a></td>
                <td>{{item.shimKey}}</td>
                <td>{{item.dateCreated.year}}-{{item.dateCreated.monthValue}}-{{item.dateCreated.dayOfMonth}}</td>
            </tr>
        </table>
    </div>
</div>
