<section>
    <div class="row">
        <h3>{{collection.name}}</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="results"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [timeline]="'true'"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>
    </div>
   <!-- <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="mr-sm-2">Aggregate By: </label>
                <div class="form-check form-check-inline">
                    <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="{{collection.element}}-aggregateBy" (change)="onAggregateChange($event)" [(ngModel)]="requestData.aggregateBy">
                        <option *ngFor="let item of aggregateBy;let i = index" [value]="item.value" [selected]="i===0">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-lg-12">
            <div><span class="time"><span class="{{collection.value}}" (click)="modGranularity($event,'-')"><i class="fa fa-backward" aria-hidden="true"></i> Aggregate By: </span></span>{{aggregateBy[level].name}}</div>
            <!--<ngx-datatable
                #table
                class="material fullscreen"
                [rows]="data"
                [columns]="keys"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="page.totalElements"
                [offset]="page.pageNumber"
                [limit]="10"
                (page) = 'setPage($event)'
                style="top: 5px"
            >-->
            <ngx-datatable
                #table
                class="material fullscreen"
                [rows]="data"
                [columns]="keys"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                style="top: 5px"
            >
                <!--<template ngFor let-item [ngForOf]="items">
                    <ngx-datatable-column name="{{item.name}}">
                        &lt;!&ndash;<ng-template [ngIf]="item.name == 'Time'">&ndash;&gt;
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span class="{{collection.value}}" (click)="granularData($event)">{{value}}</span>
                        </ng-template>
                        &lt;!&ndash;</ng-template>&ndash;&gt;
                    </ngx-datatable-column>
                </template>-->
                <ngx-datatable-column name="Username">
                </ngx-datatable-column>
                <ngx-datatable-column name="Shim">
                </ngx-datatable-column>
                <ngx-datatable-column name="Time">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="time"><span class="{{collection.value}}" (click)="modGranularity($event,'+')">{{value}}</span></span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Values">
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</section>
