<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
    <app-page-header [heading]="'Collections'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <h3>Export Data</h3>
    </div>
    <div class="row">
        <fieldset class="form-group">
            <label>Aggregate By: </label>
            <ng-template ngFor let-item [ngForOf]="aggregateBy">
                <label class="radio-inline">
                    <input type="radio" name="aggregateBy" id="aggregateBy-{{item.value}}" value="{{item.value}}" [(ngModel)]="selAggregateBy"> {{item.name}}
                </label>
            </ng-template>
        </fieldset>
        <div class="form-group">
            <label>Collections: </label> <p-multiSelect [options]="collectionLst" [(ngModel)]="selCollection" optionLabel="name" inputId="value"></p-multiSelect>
        </div>
        <div class="form-group">
            <label>Users: </label> <p-multiSelect [options]="syncDetails" [(ngModel)]="selUser" optionLabel="userId" inputId="userId"></p-multiSelect>
        </div>
        <label>Start Date: </label> <p-calendar [(ngModel)]="dataStartDate" dateFormat="mm/dd/yy" showButtonBar="true" [minDate]="minDate" [maxDate]="maxDate" readonlyInput="readonlyInput" showIcon="true"></p-calendar>
        <label>End Date: </label> <p-calendar [(ngModel)]="dataEndDate" dateFormat="mm/dd/yy" showButtonBar="true" [minDate]="minDate" [maxDate]="maxDate" readonlyInput="readonlyInput" showIcon="true"></p-calendar>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="export()">Export</button>
        </div>
    </div>

    <!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>-->
    <!--<router-outlet></router-outlet>-->
</section>
